<a href="https://www.kaggle.com/code/nickkrikota/eda-with-sqlite?scriptVersionId=160173651" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Introduction

Welcome to this Exploratory Data Analysis using SQLite. We will use SQL to perform such operations as creating tables, dropping rows, changing data format, creating new rows, as well as sorting and aggregating data.

In [1]:
import sqlite3
import pandas as pd

print('Imported Successfully')

Imported Successfully

First we will need to create a new database and table using the data on billionairies in each country.

In [2]:
connection = sqlite3.connect('database.db')
df = pd.read_csv('/kaggle/input/billionaires-data-by-country-2024/billionaires-by-country-2024.csv')

df.to_sql('census', connection, if_exists='replace', index=False)
query = '''
SELECT * 
FROM census
'''

preview = pd.read_sql(query, connection)
preview

,population_2024,Population_growthRate,Country_land_area,country,region,unMember,population_density_km,population_densityMi,BillionairesRichestBillionaire2023,BillionairesRichestNetWorth2023,BillionairesPerMillionPeople2023,BillionairesTotalNetWorth2023
0,1441719852,0.00916,3287590.00,India,Asia,1.0,484.9067,1255.9084,Mukesh Ambani,83.4,0.103,669.2
1,1425178782,-0.00035,9706961.00,China,Asia,1.0,151.2174,391.6530,Zhong Shanshan,68.0,0.253,1644.7
2,341814420,0.00535,9372610.00,United States,North America,1.0,37.3673,96.7813,Elon Musk,180.0,1.853,4490.8
3,279798049,0.00816,1904569.00,Indonesia,Asia,1.0,149.0254,385.9758,Low Tuck Kwong,25.5,0.056,138.4
4,229152217,0.02389,923768.00,Nigeria,Africa,1.0,251.6027,651.6511,Aliko Dangote,14.2,0.014,28.5
...,...,...,...,...,...,...,...,...,...,...,...,...
73,63788,0.00384,78.00,Guernsey,Europe,0.0,1012.5079,2622.3956,Stephen Lansdown,2.3,15.834,2.3
74,47847,0.00193,261.00,Saint Kitts and Nevis,North America,1.0,184.0269,476.6297,Myron Wentz,1.3,37.037,1.3
75,39822,0.00601,160.00,Liechtenstein,Europe,1.0,248.8875,644.6186,Christoph Zeller,2.3,25.710,2.3
76,36157,-0.00386,2.02,Monaco,Europe,1.0,18078.5000,46823.3150,Stefano Pessina,8.3,78.740,12.4
77,TRUE,1472.90000,12198.80,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN

We can see a few things in this preview. Each row includes a country, basic information on its population as well as the richest person living in each country. Also some columns contain errors.

# Dropping Rows

Let's drop the bottom row and review the data again.

In [3]:
drop_row =  '''
DELETE FROM census 
WHERE population_2024 == 'TRUE'
'''
cursor = connection.cursor()
cursor.execute(drop_row)
connection.commit()

query = '''
SELECT * 
FROM census
'''

preview = pd.read_sql(query, connection)
preview

,population_2024,Population_growthRate,Country_land_area,country,region,unMember,population_density_km,population_densityMi,BillionairesRichestBillionaire2023,BillionairesRichestNetWorth2023,BillionairesPerMillionPeople2023,BillionairesTotalNetWorth2023
0,1441719852,0.00916,3287590.00,India,Asia,1,484.9067,1255.9084,Mukesh Ambani,83.4,0.103,669.2
1,1425178782,-0.00035,9706961.00,China,Asia,1,151.2174,391.6530,Zhong Shanshan,68.0,0.253,1644.7
2,341814420,0.00535,9372610.00,United States,North America,1,37.3673,96.7813,Elon Musk,180.0,1.853,4490.8
3,279798049,0.00816,1904569.00,Indonesia,Asia,1,149.0254,385.9758,Low Tuck Kwong,25.5,0.056,138.4
4,229152217,0.02389,923768.00,Nigeria,Africa,1,251.6027,651.6511,Aliko Dangote,14.2,0.014,28.5
...,...,...,...,...,...,...,...,...,...,...,...,...
72,282309,0.00111,430.00,Barbados,North America,1,656.5326,1700.4193,Rihanna,1.4,3.559,1.4
73,63788,0.00384,78.00,Guernsey,Europe,0,1012.5079,2622.3956,Stephen Lansdown,2.3,15.834,2.3
74,47847,0.00193,261.00,Saint Kitts and Nevis,North America,1,184.0269,476.6297,Myron Wentz,1.3,37.037,1.3
75,39822,0.00601,160.00,Liechtenstein,Europe,1,248.8875,644.6186,Christoph Zeller,2.3,25.710,2.3
76,36157,-0.00386,2.02,Monaco,Europe,1,18078.5000,46823.3150,Stefano Pessina,8.3,78.740,12.4

# Basic Query

A good place to start would be to view a list of countries sorted by population as well as their density and growth rates.

In [4]:
query = '''
SELECT country, population_2024, population_density_km, Population_growthRate 
FROM census 
ORDER BY population_2024 DESC
'''

country_info = pd.read_sql(query, connection)
country_info

,country,population_2024,population_density_km,Population_growthRate
0,Hungary,9994993,109.5222,-0.01588
1,Vietnam,99497680,317.4489,0.00646
2,United Arab Emirates,9591853,135.0585,0.00788
3,Israel,9311652,430.2982,0.01495
4,Austria,8977139,108.7874,0.00203
...,...,...,...,...
72,Egypt,114484252,115.0075,0.01568
73,Sweden,10673669,26.2070,0.00580
74,Czech Republic,10503734,136.0614,0.00080
75,Greece,10302720,79.9280,-0.00373
76,Portugal,10223349,111.6018,-0.00237

# Changing Data Type

It seems that population is sorted as if it is in TEXT format rather than INTEGER. We should change the column's data format so the population is sorted properly.

In [5]:
query = '''
SELECT country, CAST(population_2024 AS INTEGER) AS Population, population_density_km, Population_growthRate 
FROM census 
ORDER BY Population DESC
'''

country_info_fixed = pd.read_sql(query, connection)
country_info_fixed

,country,Population,population_density_km,Population_growthRate
0,India,1441719852,484.9067,0.00916
1,China,1425178782,151.2174,-0.00035
2,United States,341814420,37.3673,0.00535
3,Indonesia,279798049,149.0254,0.00816
4,Nigeria,229152217,251.6027,0.02389
...,...,...,...,...
72,Barbados,282309,656.5326,0.00111
73,Guernsey,63788,1012.5079,0.00384
74,Saint Kitts and Nevis,47847,184.0269,0.00193
75,Liechtenstein,39822,248.8875,0.00601
76,Monaco,36157,18078.5000,-0.00386

# GROUP BY

Let's see how many countries there are in each region.

In [6]:
query = '''
SELECT region, COUNT(country) AS "Number of Countries" 
FROM census 
GROUP BY region 
ORDER BY COUNT(country) DESC
'''

region = pd.read_sql(query, connection)
region

          region  Number of Countries
0         Europe                   30
1           Asia                   24
2         Africa                    8
3  North America                    7
4  South America                    6
5        Oceania                    2

# SORT BY and LIMIT

Now would be a good idea to see the top 5 richest people on this list.

In [7]:
query = '''
SELECT BillionairesRichestBillionaire2023 AS Name, BillionairesRichestNetWorth2023 AS "Net Worth", country 
FROM census 
ORDER BY "Net Worth" 
DESC LIMIT 5
'''

richest = pd.read_sql(query, connection)
richest

                        Name  Net Worth        country
0   Bernard Arnault & family      211.0         France
1                  Elon Musk      180.0  United States
2  Carlos Slim Helu & family       93.0         Mexico
3              Mukesh Ambani       83.4          India
4             Amancio Ortega       77.3          Spain

Looking at the number of billionaires per million can give us more information on how each country compares.

In [8]:
query = '''
SELECT country, BillionairesPerMillionPeople2023 
FROM census 
ORDER BY BillionairesPerMillionPeople2023 DESC 
LIMIT 5
'''

per_million = pd.read_sql(query, connection)
per_million

                 country  BillionairesPerMillionPeople2023
0                 Monaco                            78.740
1  Saint Kitts and Nevis                            37.037
2          Liechtenstein                            25.710
3                 Greece                            16.600
4               Guernsey                            15.834

# LIKE

Some billionaires are included along with their families. Lets see which ones are counted as a family and which countries they are from.

In [9]:
query = '''
SELECT BillionairesRichestBillionaire2023 AS Family, country 
FROM census 
WHERE Family LIKE "%% & family"
'''

family = pd.read_sql(query, connection)
family

                                    Family         country
0                     Vicky Safra & family          Brazil
1              Andrey Melnichenko & family          Russia
2                Carlos Slim Helu & family          Mexico
3                   Tadashi Yanai & family           Japan
4                 Bernard Arnault & family          France
5                   Johann Rupert & family    South Africa
6                    Issad Rebrab & family         Algeria
7                   David Thomson & family          Canada
8                 Aziz Akhannouch & family         Morocco
9                   Iris Fontbona & family           Chile
10  Charlene de Carvalho-Heineken & family     Netherlands
11              Renata Kellnerova & family  Czech Republic
12          Maria Fernanda Amorim & family        Portugal
13                Ruben Vardanyan & family         Armenia

# SUM

This dataset contains information on whether a country is a member of the UN or not. Let's use the SUM command to see the total amount of wealth billionaires from these countries are worth.

In [10]:
query = '''
SELECT SUM(BillionairesTotalNetWorth2023) AS "Net Worth of Billionaires From Non UN Countries" 
FROM census 
WHERE unMember == 0
'''

non_un = pd.read_sql(query, connection)
non_un

   Net Worth of Billionaires From Non UN Countries
0                                            507.0

# Creating New Columns

We can create a new column to easily see whether each country has positive or negative population growth as well as making sorting easier.

In [11]:
new_column = '''
ALTER TABLE census 
ADD COLUMN Population_Growth INTEGER
'''

cursor.execute(new_column)
connection.commit()

update_column = '''
UPDATE census 
SET Population_Growth = CASE 
WHEN Population_growthRate > 0 THEN 'Positive' ELSE 'Negative' END
'''

cursor.execute(update_column)
connection.commit()

query = '''
SELECT * 
FROM census
'''

preview = pd.read_sql(query, connection)
preview

,population_2024,Population_growthRate,Country_land_area,country,region,unMember,population_density_km,population_densityMi,BillionairesRichestBillionaire2023,BillionairesRichestNetWorth2023,BillionairesPerMillionPeople2023,BillionairesTotalNetWorth2023,Population_Growth
0,1441719852,0.00916,3287590.00,India,Asia,1,484.9067,1255.9084,Mukesh Ambani,83.4,0.103,669.2,Positive
1,1425178782,-0.00035,9706961.00,China,Asia,1,151.2174,391.6530,Zhong Shanshan,68.0,0.253,1644.7,Negative
2,341814420,0.00535,9372610.00,United States,North America,1,37.3673,96.7813,Elon Musk,180.0,1.853,4490.8,Positive
3,279798049,0.00816,1904569.00,Indonesia,Asia,1,149.0254,385.9758,Low Tuck Kwong,25.5,0.056,138.4,Positive
4,229152217,0.02389,923768.00,Nigeria,Africa,1,251.6027,651.6511,Aliko Dangote,14.2,0.014,28.5,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,282309,0.00111,430.00,Barbados,North America,1,656.5326,1700.4193,Rihanna,1.4,3.559,1.4,Positive
73,63788,0.00384,78.00,Guernsey,Europe,0,1012.5079,2622.3956,Stephen Lansdown,2.3,15.834,2.3,Positive
74,47847,0.00193,261.00,Saint Kitts and Nevis,North America,1,184.0269,476.6297,Myron Wentz,1.3,37.037,1.3,Positive
75,39822,0.00601,160.00,Liechtenstein,Europe,1,248.8875,644.6186,Christoph Zeller,2.3,25.710,2.3,Positive
76,36157,-0.00386,2.02,Monaco,Europe,1,18078.5000,46823.3150,Stefano Pessina,8.3,78.740,12.4,Negative

Now let's use a query to see how it works.

In [12]:
query = '''
SELECT Population_Growth, SUM(BillionairesTotalNetWorth2023) AS "Net Worth of Billionaires" 
FROM census 
GROUP BY Population_Growth
'''

growth_net_worth = pd.read_sql(query, connection)
growth_net_worth

  Population_Growth  Net Worth of Billionaires
0          Negative                     3355.7
1          Positive                     8819.4

Finally, lets close the connection.

In [13]:
connection.close()

# Conclusion

Thank you for reading. I hope this example of how to use SQLite in Python to analyze data was helpful to you. All feedback is welcome.